/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
:root {
	--main-bg-color: #FFFEF8;
	--bg-color-2: white;
	--bg-color-3 : black;
	--main-highlight-color: #1D6154;
	--highlight-color-2: #B1663C;
}
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
}
.edit-banner {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	min-height: 40px;
	padding: 10px 0;
	background-color: var(--bg-color-3);
	color: var(--bg-color-2);
}
.edit-banner a {
	display: flex;
	gap: 10px;
	font-size: large;
	align-self: center;
}
.edit-banner button {
	background-color: var(--bg-color-2);
}
#publish {
	font-size: inherit;
	font-family: inherit;
	border-radius: 60px;
	padding: 10px 20px;
	border-width: 0;
}
.wrapper {
	width: 90%;
	min-height: 93vh;
	align-self: center;
}
header, main, footer nav {
	max-width: 1140px;
	margin:auto;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section {
	margin: 50px 0;
	width: 85%;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--highlight-color-2);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-highlight-color)
}
h3 {
	font-size: x-large;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: initial;
}
a.actif {
	font-weight: bold;
}
header a {
	text-decoration: none;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav img {
	height: 25px;
}
li:hover,
nav a:hover {
	color: var(--highlight-color-2);
}
.modifier {
	display: flex;
	gap: 10px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin-right: auto;
	width: 90%;
}
#introduction figure .modifier {
	padding-top: 20px;
} 
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
#portfolio .modifier {
	padding-left: 30px;
}
.filtres {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 10px;
	height: 35px;
}
.filtres button {
	font-family: 'Syne';
	font-size: small;
	color: var(--main-highlight-color);
	background-color: var(--main-bg-color);
	border-radius: 60px;
	border-width: 1px;
	border-color: var(--main-highlight-color);
	min-width: 100px;
	padding: 0 10px;
	transition-duration: 0.2s;
}
.filtres button:hover,
.filtres .actif {
	color: var(--bg-color-2);
	background-color: var(--main-highlight-color);
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#login {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 40px;
	padding-top: 100px;
	width: 40%;
	margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	display: flex;
	flex-direction: column;
}
#contact form {
	margin-top:30px;
}
#contact input,
#login input, #login button{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #login button, .modal button{
	font-family: 'Syne';
	font-weight: 700;
	color: var(--bg-color-2);
	background-color: var(--main-highlight-color);
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
input[type="submit"]:hover, button {
	background-color: #0E2F28;
	cursor: pointer;
}
input[type="submit"] {
	margin : 2em auto ;
}
#login button {
	align-self: center;
}
.error {
	color: darkred;
	text-align: center;
}
footer {
	background-color: var(--bg-color-2);
	padding: 2em;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-wrapper {
	overflow: auto;
	width: 60vh;
	max-height: 70vh;
	padding: 30px;
	border-radius: 10px;
	background-color: var(--main-bg-color);
}
.modal-nav {
	display: flex;
	justify-content: flex-end;
}
#modal2 .modal-nav {
	justify-content: space-between;
}
.modal i {
	font-size: large;
	cursor: pointer;
}
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 60px;
	gap: 20px;
}
.modal-gallery {
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 30px 0;
	border-bottom: 1px solid lightgray;
	font-size: smaller;
}
.placeholder {
	background-color: #0E2F28;
	height: 10vh;
}
.modal button{
	border-width: 0;
	padding: 10px;
	margin-top: 10px;
}
.modal a {
	color: var(--highlight-color-2);
}